In [2]:
import pandas as pd
datas = [ ["keyboard" , "IT" , 4000] , ["Doll","TOY",500] , ["MOUSE","IT",300]]

In [3]:
cols = ["NAME" , "CATEGORY" , "PRICE"]
df = pd.DataFrame(datas,columns=cols)

In [4]:
df

       NAME CATEGORY  PRICE
0  keyboard       IT   4000
1      Doll      TOY    500
2     MOUSE       IT    300