In [3]:
import pandas as pd
products = [{"NAME":"keyboard" , "Category" : "computer_tools" , "Price" : 500},
            {"NAME":"เมาส์","Category" : "computer_tools" ,"Price" : 300},
            {"NAME":"ตุ๊กตา", "Category" : "TOy" ,"Price" : 900}]

In [4]:
df = pd.DataFrame(products)
df

       NAME        Category  Price
0  keyboard  computer_tools    500
1     เมาส์  computer_tools    300
2    ตุ๊กตา             TOy    900

In [7]:
df.set_index(["NAME"],inplace=True)

                Category  Price
NAME
keyboard  computer_tools    500
เมาส์     computer_tools    300
ตุ๊กตา               TOy    900

In [ ]:
df