In [1]:
import pandas as pd 

name = ["คีย์บอร์ด","เมาส์","ตุ๊กตา"]
category = ["computertools","computertools","toy"]
price = [500,300,900]

In [2]:
name_serie = pd.Series(name)
category_serie = pd.Series(category)
price_serie = pd.Series(price)

In [3]:
frame = {"Name" : name_serie , "Category" : category_serie , "Price" : price_serie }

In [4]:
df = pd.DataFrame(frame)
df

        Name       Category  Price
0  คีย์บอร์ด  computertools    500
1      เมาส์  computertools    300
2     ตุ๊กตา            toy    900